---
import '@fontsource-variable/onest';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Portada from '../components/Portada.astro';
import SectionServices from '../components/SectionServices.astro';
import SectionAboutMe from '../components/SectionAboutMe.astro';
---

<Layout title="Abriendo Huella">
	<main class="">
		<Header />
		<Portada />

		<SectionServices />
		<SectionAboutMe />
	  </main>
</Layout>

<style>
	html {
		font-family: 'Onest Variable', sans-serif;
	}
</style>