<div
  class="w-full md:h-[90vh] h-[62vh] bg-cover bg-center flex flex-col items-center justify-center text-white"
  style="background-image: url(./portada.jpg);"
>
  <h2
    class="sombraTexto w-[90%] text-[2.4rem] md:text-6xl leading-tight md:text-center mb-4 md:mb-10 mx-auto text-pretty font-bold"
  >
    Aprende a esquiar como un profesional
  </h2>
  <p
    class="sombraTexto w-[90%] md:w-[75%] text-lg md:text-2xl md:text-center mb-10 md:mb-14"
  >
    Nuestro instructor altamente calificado está aquí para ayudarte a mejorar tu
    técnica y aumentar tu confianza en las pistas.
  </p>
  <button
    class="bg-blue-700 text-white py-3 px-8 rounded-lg hover:bg-blue-600 hover:text-white/90 transition-colors"
    >Reservar una clase</button
  >
</div>

<style>
  .sombraTexto {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
</style>
