---

---

<div
  class="flex flex-col md:flex-row md:justify-between md:items-center mt-20 mb-10"
>
  <div
    class="flex flex-col items-center md:flex-row md:justify-center md:items-center w-[90%] md:w-[80%] mx-auto md:bg-slate-300/60"
  >
    <img
      src="./pexels-gustav-lundborg-3475835.jpg"
      class="rounded-full size-48 md:rounded-none md:w-96 md:h-auto"
      alt="Imagen del instructor Jan Salvat"
    />

    <div class="flex flex-col md:mx-16">
      <div class="my-4">
        <h2 class="font-bold text-4xl text-center md:text-left">
          Jan Salvat Seoane
        </h2>
        <p class="text-[#467091] text-center md:text-left">
          Monitor de esquí, +8 años de experiencia.
        </p>
      </div>

      <div class="flex flex-col mt-4">
        <h2 class="font-bold text-xl">Sobre mí</h2>
        <p>
          El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es
          reproducido debajo para aquellos interesados. Las secciones 1.10.32 y
          1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también
          reproducidas en su forma original exacta, acompañadas por versiones en
          Inglés de la traducción realizada en 1914 por H. Rackham.
        </p>
      </div>

      <div class="flex flex-col md:flex-row md:justify-between md:mt-14 mt-10">
        <div class="flex md:justify-center md:items-center mb-4">
          <div
            class="flex justify-center items-center bg-blue-300 size-12 rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-map-pin"
              width="30"
              height="30"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#333333"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
              ></path></svg
            >
          </div>
          <div class="ml-4">
            <h4 class="font-bold text-xl">Location</h4>
            <p class="text-sm">Hombre, Edad 23</p>
            <p class="text-sm">Barcelona, ESP</p>
          </div>
        </div>

        <div class="flex md:justify-center md:items-center mb-4">
          <div
            class="flex justify-center items-center bg-blue-300 size-12 rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-world"
              width="30"
              height="30"
              viewBox="0 0 24 24"
              stroke-width="1.3"
              stroke="#333333"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path
                d="M3.6 9h16.8"></path><path d="M3.6 15h16.8"></path><path
                d="M11.5 3a17 17 0 0 0 0 18"></path><path
                d="M12.5 3a17 17 0 0 1 0 18"></path></svg
            >
          </div>
          <div class="ml-4">
            <h4 class="font-bold text-xl">Idiomas</h4>
            <p class="text-sm">Avanzado</p>
            <p class="text-sm">Español, Catalán e Inglés</p>
          </div>
        </div>

        <div class="flex md:justify-center md:items-center mb-4">
          <div
            class="flex justify-center items-center bg-blue-300 size-12 rounded-lg"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-circle-check"
              width="30"
              height="30"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#333333"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                d="M9 12l2 2l4 -4"></path></svg
            >
          </div>
          <div class="ml-4">
            <h4 class="font-bold text-xl">Títulos</h4>
            <p class="text-sm">Campeón de Cataluña Freestyle</p>
            <p class="text-sm">Titulo de Monitor de Esquí</p>
          </div>
        </div>
      </div>

      <div class="flex justify-center my-10">
        <a
          href="https://wa.me/+34657438554"
          target="_blank"
          rel="noopener noreferrer"
          class="w-[80%] md:w-[50%] py-3 rounded-lg bg-blue-700 text-white text-center hover:bg-blue-600 hover:text-white/90 transition-colors"
          >Contactar</a
        >
      </div>
    </div>
  </div>
</div>
